.thumbnail-image{
    object-fit: cover;
    width: 100%;
}

.video-metadata-row{
    display: grid;
    grid-template-columns: 50px 1fr;
}

.channel-image{
    object-fit: cover;
    width: 50px;
    vertical-align: top;
    border-radius: 25px;
}



.video-card{
    display: inline-block;
    margin-right: 10px;
}


.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* column-gap: 20px;
    row-gap: 20px; */
}